.header{

}
.header__top{
    --container-width:1330px;
    padding: 24px 0px;
    background-color: var(--white);
}
.header__container{
    display: flex;
}
.header__top-container{
    align-items: center;
    justify-content:space-between;
}
.header__container-bottom{
    align-items: center;
    justify-content: center;
}
.header__details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 47px;
}
.header__list{
    display: flex;
    align-items: center;
    gap: 32px;
}
.header__item{
    font-weight: 400;
    font-size: 16px;
    color: #726e8d;
}
.header__link{
    font-weight: 400;
    font-size: 16px;
    color: #726e8d;
    text-decoration: none;
    transition: var(--main-trs);
}
.header__bottom{
    padding: 20px 0;
    background: var(--light-grey);
}
.header__link:focus{   
}
.header__link:focus-visible{
    outline: var(--outline);
}
  @media(any-hover: hover){
    .header__link:hover{
        color: var(--primary);
    }
  }
.header__link:active{
    color: var(--dark-primary);
}
.nav__link:focus{   
}
.nav__link:focus-visible{
    outline: var(--outline);
}
  @media(any-hover: hover){
    .nav__link:hover{
        color: var(--primary);
    }
  }
.nav__link:active{
    color: var(--dark-primary);
}
.header__buttons{
    display: flex;
    align-items: center;
    gap: 16px;
}
.header__button{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#2a254b;
    transition: var(--main-trs);
}
.header__button svg path{
    fill: currentColor;
}
